body {
  font-family: Helvetica;
  background-color: #dde2da;
}

h1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.captcha-main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  background-color: white;
  padding: 8px;
}

.toparea {
  background-color: #4990e2;
  padding: 25px;
  color: white;
}

.target-image-text {
  padding: 0px;
}

.instructions {
  font-size: 17px;
}

.imagearea {
  height: auto;
}

.imagetable {
  border-spacing: 2px 0px;
  border-collapse: separate;
  margin-top: 5px;
  margin-left: -3px;
  margin-right: -3px;
  max-width: 367px;
  transition: 1s;
}

.imagetable td {
  height: 120px;
  width: 120px;
  cursor: pointer;
  overflow: hidden;
}

.imagearea img {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: 0.2s; /* cha cha real smooth (not really) */
}

.selected {
  border: 7px solid #4990e2;
  width: -moz-calc(100% - 14px); /* cross-browser compatibility like a true dev */
  width: -webkit-calc(100% - 14px);
  width: -o-calc(100% - 14px);
  width: calc(100% - 14px);
  height: -moz-calc(100% - 14px);
  height: -webkit-calc(100% - 14px);
  height: -o-calc(100% - 14px);
  height: calc(100% - 14px);
}

.unselected {
  width: 100%;
  height: 100%;
  border: none;
}

.wrong {
  border: 7px solid red;
}

.correct {
  border: 7px solid green;
}

.verify {
  float: right;
  background-color: #4990e2;
  padding: 10px;
  font-size: 17px;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
}

.try-again {
  margin-right: 10px;
  font-size: 17px;
  color: red;
  display: none;
}

.no-table {
  float: right;
  border-collapse: collapse;
  border: none;
}
